<html>
<script>
	function addElement() {
    // Adds an element to the document
    var p = document.getElementById("parent");
    var newElement = document.createElement("p");
    newElement.setAttribute('class', 'child');
    newElement.innerHTML = 'Hai This is Child Data';
    p.appendChild(newElement);
}
</script>
<body>
<button id="Addbutton" onclick=addElement()> Click Me!</button>
<b>Hey $user, sample Issue Tab Panel!</b>
<b>This is the summary $summary</b>
<p id="parent">First One</p>
</body>
</html>
